.rodape {
    background-color: var(--preto);
    display: flex;
    justify-content: center;
    width: 100%;
}

.rodape h2 {
    color: var(--branco);
    font-weight: 400;
    font-size: 18px;
    padding: 33px;
}

.espaco{
    margin: 20em;
}