.container {
    background-color: var(--cinza);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: .5em;
    padding: 0 0 1em 0;
    width: 202px;
}

.capa {
    width: 100%;
}

.container h2, .favoritar {
    padding: 0 1em;
}

.favoritar {
    width: 24px;
}