.container {
    background-color: var(--cinza);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: .5em 5px;
    padding: 0 0 1em 0;
    width: 282px;
    transition: 1s;
}

.capa {
    width: 100%;
}

.container h2, .favoritar {
    padding: 0 1em;
}

.favoritar {
    width: 24px;
}

.link {
    color: var(--preto);
    text-align: left;
    text-decoration: none;
}

.container:hover {
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
}